node_modules
ptau
main
build
lookupTables
test/semaphore.circom

*.swp
*.swo

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
